{% extends "tracker/base.html" %}
{% block content %}
	{% for league in leagues %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ league.player }}</a>
		      <small class="text-muted">{{ league.date|date:"F d, Y" }}</small>
		    </div>
		    <h2><a class="article-title" href="{% url 'league-detail' league.id %}">{{ league.deck }} -- {{ league.record }}</a></h2>
		    <p class="article-content">{{ league.mformat }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}
